@color-danger: #cc0000;
@color-warning: #cc9900;
@color-info: #0000cc;
@color-success: #009933;
@color-default: #666666;

.mf-logger {
    position: relative;
    width: 100%;
    height: 20vh;
    overflow-y: scroll;
    font-family: monospace;
    box-shadow: inset 0 0 10px grey;
    border: 1px solid grey;
    padding: 1em;
    .log {
        /* background-color: #ffd; */
        display: inline-block;
        position: relative;
        width: 100%;
        padding: 1em;
        p {
            &.danger {
                color: @color-danger;
            }
            &.warning {
                color: @color-warning;
            }
            &.info {
                color: @color-info;
            }
            &.success {
                color: @color-success;
            }
            color: @color-default;
            margin: 0;
        }
    }
}